#board {
    background-color: #d0d0d0;
}

td.cell {
    background-color: #329532;
    width: 8.125vmin;
    height: 8.125vmin;
    line-height: 8.125vmin;
    margin: 2px;
    font-size: 8vmin;
    text-align: center;
}

td.black {
    color: black;
}

td.white {
    color: white;
}